body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hover:hover {
  color: white;
}
.login_options {
  position: relative;
  color: gray;
}
.login_options::before {
  content: " ";
  display: block;
  height: 1px;
  width: 110px;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgba(128, 128, 128, 0.4);
}
.login_options::after {
  content: " ";
  height: 1px;
  width: 110px;
  background: rgba(128, 128, 128, 0.4);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
.Dancing_Script {
  font-family: "Dancing Script", cursive;
}
.login_div_options {
  background-color: rgba(128, 128, 128, 0.246);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 0 10px 0;
}
.google_img {
  width: 19px;
  position: relative;
  left: -10px;
}
.link {
  text-decoration: none;
  color: black;
}

.loginImage {
  background-image: url("./assets/images/General_Banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.forget_password {
  color: gray;
  text-decoration: none;
  font-size: 12px;
}

.nf_img {
  width: 100%;
  height: auto;
}
.notfound_image_conainer {
  width: 50%;
  margin: auto;
}
.product_heading {
  position: relative;
  color: rgba(43, 43, 43, 0.764);
}
.product_heading::after {
  content: " ";
  height: 4px;
  width: 60px;
  background: rgba(128, 128, 128, 0.4);
  display: block;
  position: absolute;
  top: 100;
  border-radius: 5px;
}
.box_color {
  background-color: rgba(43, 43, 43, 0.113);
}

.errMsg {
  background: red;
  color: #fff9;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1.3px;
  position: relative;
  left: 8px;
}

.successMsg {
  background: green;
  color: #fff9;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1.3px;
  position: relative;
  left: 8px;
}

.admin_link {
  background: #2e4583;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  display: flex;
  width: 150px;
  color: white;
}

.admin_link:hover {
  background-color: #3e60c1;
  transition: 0.6s ease-in-out;
}

footer{
  width: 100%;
  background-color: black;
}
.footer_link{
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}
.cart_icon{
  cursor: pointer;
}
.seller_form{
  width: 65%;
}
.Active{
  font-size: 13px;
  color: #000;
  padding: 8px 10px;
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.one_stop_store_grid{
  display: flex;
}
.slider_holder{
  height: 400px;
  margin-top: 10px;
}
.nav_link{
  text-decoration: none;
  color: #dddddd60;
}
.mobile_link{
  text-decoration: none;
  color: #000;
  margin-bottom: 15px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media only screen and (max-width: 600px) {
  .one_stop_store_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .slider_holder{
    height: 200px;
  }
  .mobile_slide{
    height: 207px;
  }
  .slider_image{
    height: 200px !important;
  }
}